*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#red{
    background-color: red;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}

button{
    width: 100px;
    height: 80px;
    margin: 5px;
    color: white;
    font-weight: bold;
    outline: none;
    border: transparent;
    border-radius: 20px;
    transition: 0.3s;
    padding: 15px 25px;
}
h3{
    font-family: sans-serif;
    font-size: large;
    padding-top: 40px;
    padding-left: 45px;
}
#random{
    color: black;
    background-color:rgb(120, 119, 119);
}
body{
    transition: background-color 0.4s ease;
}
button:hover{
    transform: scale(1.05);
    cursor: pointer;
    opacity: 0.8;
}